</div>
<footer class="footer" style="background-color: white">
    <div class="content has-text-centered" >
        <p>
            <a href="https://github.com/songquanpeng/message-pusher">消息推送服务</a> 由 <a href="https://github.com/songquanpeng">JustSong</a> 构建，源代码遵循
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a> 协议
        </p>
    </div>
</footer>
</div>
</body>
</html>
