<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>消息推送服务</title>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/main.js"></script>
</head>
<body>

<div>
    <%- include('./nav') %>
    <div class="container">