<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= message.title %></title>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<div class="container" style="max-width: 960px">
    <div style="margin: 16px 16px 16px 24px">
        <h1 class="title"><%= message.title %></h1>
        <h2 class="subtitle"><%- message.description %></h2>
        <article id="article">
            <%- message.content %>
        </article>
    </div>
</div>
</body>
</html>