</div>
<footer class="footer" style="background-color: white">
    <div class="content has-text-centered" >
        <p>
            <strong><a href="https://github.com/songquanpeng/wechat-message-push">WeChat Message Push</a></strong> by <a href="https://github.com/songquanpeng">JustSong</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>
</body>