<%- include('./partials/header') %>
<div class="columns is-desktop">
    <div class="column">
        <div class="page-card-list">

        </div>

    </div>
    </div>
</div>

<%- include('./partials/footer') %>
