<%- include('./partials/header') %>
<article class="message is-danger">
    <div class="message-header">
        <p><%= title %></p>
    </div>
    <div class="message-body">
        <%= message %>
    </div>
</article>
<%- include('./partials/footer') %>
