<%- include('./header') %>
<article class="message is-primary">
    <div class="message-header">
        <p>注意</p>
    </div>
    <div class="message-body">
        <%= message %>
    </div>
</article>
<%- include('./footer') %>