body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    line-height: 1.6;
    margin: 0;
}

nav {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 97vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    height: 4rem;
}

#footer a {
    color: black;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.page-card-list {
    margin: 8px 8px;
}

.page-card-title {
    font-size: x-large;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.page-card-text {
    margin-top: 8px;
}

.pagination {
    margin: 16px 4px;
}

.pagination a {
    border: none;
    overflow: hidden;
}

.shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.nav-shadow {
    box-shadow: 0 2px 3px rgba(26,26,26,.1);
}

.box article {
    overflow-wrap: break-word;
    font-size: larger;
    word-break: break-word;
    line-height: 1.6;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.normal-container {
    margin: auto;
    max-width: 960px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    font-size: larger;
}

.narrow-container {
    margin: auto;
    max-width: 560px;
    padding: 16px 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
    font-size: larger;
}

article a {
    color: #368CCB;
    text-decoration: none;
}

article a:hover {
    color: #368CCB;
    text-decoration: none;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0 15px;
    margin-block-start: 1em;
    margin-block-end: 0.2em;
}

article h1 {
    font-size: 1.7em
}

article h2 {
    font-size: 1.6em
}

article h3 {
    font-size: 1.45em
}

article h4 {
    font-size: 1.25em;
}

article h5 {
    font-size: 1.1em;
}
article h6 {
    font-size: 1em;
    font-weight: bold
}

@media screen and (max-width: 960px) {
    article h1 {
        font-size: 1.5em
    }

    article h2 {
        font-size: 1.35em
    }

    article h3 {
        font-size: 1.3em
    }

    article h4 {
        font-size: 1.2em;
    }
}

article p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

article table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    text-align: left;
    min-width: 66%;
}

article table td,
article table th {
    padding: 5px 8px;
    border: 1px solid #bbb;
}

article blockquote {
    margin-left: 0;
    padding: 0 1em;
    font-size: smaller;
    border-left: 5px solid #ddd;
}

article pre {
    overflow-x: auto;
    padding: 0;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

article ol {
    text-decoration: none;
    padding-inline-start: 40px;
    margin-bottom: 1.25rem;
}

article code {
    color: #bc9458;
    padding: .065em .4em;
}

article .copyright{
    display: none;
}

.info {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #738292;
    margin-bottom: 3em
}

.info a {
    text-decoration: none;
    color: inherit;
}

.links {
    margin: 16px;
}

span.line {
    display: inline-block;
}

.toc {
    position: sticky;
    top: 24px;
}